In [1]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
mydb = mysql.connector.connect(host="127.0.0.1",
                                    port="3306",
                                    user="root",
                                    password="password",
                                    db="database1")

In [3]:
mydb

In [4]:
#selecting everything from Employee database
mycursor= mydb.cursor()
mycursor.execute("Select * from employee")

myresult= mycursor.fetchall()

for row in myresult:
    print(row)

(22, 'Gagan', 'checking', 75000, 'assistant manager', datetime.timedelta(seconds=26295), datetime.timedelta(seconds=73095), None, None)
(42, 'Gagan', 'testing', 45000, 'meri jaan', datetime.timedelta(seconds=26295), datetime.timedelta(seconds=73095), None, None)
(51, 'Gagan', 'testing database', 45000, 'HR', datetime.timedelta(seconds=26295), datetime.timedelta(seconds=73095), None, None)
(100, 'Justin', 'going to check', 30000, 'Team Leader', datetime.timedelta(seconds=28800), datetime.timedelta(seconds=39600), None, None)
(101, 'Mark', 'the data ', 40000, 'Manager', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=36000), None, None)
(102, 'Rosie', 'within this column', 35000, 'HR', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=43200), None, None)
(103, 'Lily', 'for txt', 30000, 'Backend Programmer', datetime.timedelta(seconds=39600), datetime.timedelta(seconds=51720), None, None)
(104, 'Brian', 'for eg', 38000, 'Asst. Manager', datetime.timedelta(seconds=73858), datetime.timedelta(seconds=40835), None, None)
(105, 'Steve', 'for demo', 32000, 'Accountant', datetime.timedelta(seconds=77445), datetime.timedelta(seconds=83745), None, None)
(106, 'Jim', 'check', 32000, 'Accountant', datetime.timedelta(seconds=63955), datetime.timedelta(seconds=74755), None, None)
(107, 'Pam', 'compile', 25000, 'Receptionist', datetime.timedelta(seconds=73855), datetime.timedelta(seconds=82800), None, None)
(108, 'Olivia', 'just kidding', 35000, 'HR', datetime.timedelta(seconds=55845), datetime.timedelta(seconds=59155), None, None)
(109, 'Laura', 'testing', 45000, 'Manager', datetime.timedelta(seconds=44295), datetime.timedelta(seconds=55095), None, None)
(110, 'Robert', 'testing', 45000, 'Manager', datetime.timedelta(seconds=44295), datetime.timedelta(seconds=55095), None, None)
(111, 'Marcus', 'testing', 32000, 'Accounts', datetime.timedelta(seconds=26295), datetime.timedelta(seconds=73095), None, None)
(115, 'Robert', 'testing', 32000, 'Accounts', datetime.timedelta(seconds=26295), datetime.timedelta(seconds=73095), None, None)
(150, 'Gagan', 'testing', 45000, 'Manager', None, None, None, None)
(163, 'Gagan', 'testing', 5000, 'assistant manager', datetime.timedelta(seconds=56295), datetime.timedelta(seconds=73095), None, None)
(164, 'Gagan', 'testing', 45000, 'intern', datetime.timedelta(seconds=56295), datetime.timedelta(seconds=73095), None, 'checking')
(184, 'Robert', 'testing', 32000, 'Accounts', datetime.timedelta(seconds=26295), datetime.timedelta(seconds=73095), None, None)
(201, 'Gagan', 'checking', 45000, 'inter', datetime.timedelta(seconds=56295), datetime.timedelta(seconds=73095), None, None)
(202, '408', 'a b c d e f g', 10000, 'ABC', datetime.timedelta(seconds=56295), datetime.timedelta(seconds=73095), None, 'second project')
(203, 'ABC', 'checking', 10000, 'ABC', datetime.timedelta(seconds=56295), datetime.timedelta(seconds=73095), None, 'testing')

In [25]:
#Finding the maximum value from database using for loop
mycursor= mydb.cursor()
mycursor.execute("SELECT MAX(Salary) AS maximum FROM employee")
myresult = mycursor.fetchall()

for i in myresult:
    maximum= float(i[0])

In [ ]:
maximum

In [ ]:
#Finding the maximum value from database using SQL query only

mycursor= mydb.cursor()
mycursor.execute("SELECT MAX(Salary) AS maximum FROM employee")
myresult = mycursor.fetchall()

In [ ]:
print(myresult)

In [ ]:
mycursor= mydb.cursor()
mycursor.execute("SELECT MAX(Salary) AS maximum FROM employee")
myresult = mycursor.fetchone()

In [ ]:
print("the max salary is ", myresult[0])

In [52]:
#selecting everything from Employee database
mycursor= mydb.cursor()
mycursor.execute("Select * from employee")

myresult= mycursor.fetchone()

print(myresult)

(100, 'Justin', '3', 'going to check', 30000, 'Team Leader')